body {
    
   
    position: relative;
    height: 940px;
    text-align: center;
}


/*Navigation*/
.navWrapper {
    margin: 0 auto;
    max-height: 69px;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav ul {
    display: flex;
}
.navItems li {
    list-style: none;
    margin-right: 50px;
}
.navItems li a {
    color: #0097a7;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 0px;
}

/*ABOUT ME Background*/
.backGround {
    Width: 1179px;
    Height: 413px;
    background-image:url(../images/BackgroundImage\ HP.png); 
    background-repeat: no-repeat;
    background-blend-mode: soft-light;
    position: absolute;
    left: 290px;
    top: 285px;
}

/*ABOUT ME Frame*/
h1 {
    color: white;
    font-size: 50px; 
    font-style: normal;
    font-weight: normal;
    background: linear-gradient(103.57deg, #0097A7 47.98%, #517EA6 103.45%);
    padding: 20px;
    text-align: center;
}
.lotus {
  
    bottom: 75px;
    left: 40px;
    position: relative;
}

.paragraphs {
    width: 800px;
    height: 209px;
    display: inline-block;
    text-align: center;
    font-size: 18px;
    position: relative;
    bottom: 40px;
}